<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Grove street - Home{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div id="header">
            {% block header %}
            <h1><a href="{% url "home" %}">Grove street - <span class="light-green">Home</span></a></h1>
            <nav>
                <a href="">About me</a>
                <a href="">My background</a>
                <a href="">Miscellaneous</a>
            </nav>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            <p>Content</p>
            {% endblock %}
        </div>
        <div id="footer">
            <div id="footer-content">
                {% block footer %}
                <small>Copyright &copy; 2024 <span class="light-green">Riku Kaipainen</span>. All Rights Reserved.</small>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
