{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="about-page">
    <div class="about-page-description">
        <div class="about-page-description-left">
            <div class="round-icon-container card-shadow">
                <img class="round-img-icon" src="{% static 'img/portrait.png' %}" alt="Portrait picture of me."/>
            </div>
            <div class="about-page-description-details">
                <h4>Phone</h4>
                <p>+358440966080</p>
                <h4>Email</h4>
                <p>riku.kaipainen@gmail.com</p>
                <h4>Address</h4>
                <p>Joulumerkintie 6 A3, 90150, Oulu</p>
                <h4>GitHub</h4>
                <p><a href="https://github.com/karhu12" target="_blank">https://github.com/karhu12</a></p>
                <h4>LinkedIn</h4>
                <p><a href="https://www.linkedin.com/in/riku-kaipainen/" target="_blank">https://www.linkedin.com/in/riku-kaipainen/</a></p>
            </div>
        </div>
        <div class="about-page-description-right">
            <div class="about-page-description-headers">
                <h1>Riku Kaipainen</h1>
                <h2>Software Engineer</h2>
            </div>
            <div class="about-page-description-content-container">
                <div class="about-page-description-content">
                    <p>
                        I am an experienced software developer with a strong background in frontend and
                        backend development using Python. I have developed and designed user interfaces
                        using PyQt and QML, implemented business logic and other backend logic,
                        integrated measuring instruments and other devices with the software that was
                        being developed. I have worked in tight collaboration with clients where I have
                        been a part of setting up measurement systems, solving problems and giving
                        software training for the said systems.
                    </p>
                    <p>
                        I am an able programmer who can adapt quickly to new technologies. I am most
                        confident in my skills with the Python programming language, as I have 5 years
                        of work experience from it in my previous position. I have also used JavaScript
                        with QML and C with embedded systems in my work. In terms of advancing my
                        professional skills, I am keen to learn more about new technologies that
                        I don’t have experience with prior.
                    </p>
                    <p>
                        I am a motivated and extremely enthusiastic team player that is easy to approach with
                        any matter. I am a rigorous worker and I always fully focus on the task at hand to
                        achieve the best result. However, I am also a relaxed and cheerful person. I have
                        worked both at the office and remotely, and I view hybrid work in a positive light.
                        I have excellent written and spoken English language skills, and I use both Finnish
                        and English as working languages.
                    </p>
                    <p>
                        I have graduated as a bachelor of engineering from Oulu University of Applied
                        Sciences with a specialization in software development. During my education I
                        got to know basics from different software development branches, such as windows
                        application development (C++, Qt), embedded software development
                        (C, C++, Python, Arduino, Raspberry Pi, Nucleo), web development
                        (PHP, HTML, CSS, JavaScript, Angular) databases (MySQL, NoSQL), backend development
                        (Express REST APIs) and mobile development (Java, Android, Swift, iOS).
                    </p>
                    <p>
                        In my work I have used common project management tools such as Jira, and I am a well
                        versed user of Git. I also have some work experience with DevOps from using GitLab
                        CI/CD and Jenkins.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-page-experience">
        <p>test</test>
    </div>
    <div class="about-page-expertise">
        <p>test</test>
    </div>
</div>
{% endblock %}