{% extends "base.html" %}
{% load static %}

{% block content %}
{% if perms.home.can_edit %}
<h1>Editing blog post id {{ blog_post.id }}</h1>
<hr>
{% if form.errors %}
<ul class="user-msg error">
{% for field in form %}
{% for error in field.errors %}
    <li>
    {% if field != '__all__' %}
        <strong>{{ field.label }}:</strong>
    {% endif %}
        {{ error }}
    </li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}
<form action="{% url 'blog_post_edit' blog_post.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% else %}
<h1>You do not have permissions to edit this post.</h1>
{% endif %}
{% endblock %}