{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ blog_post.title }}</h1>
<hr>
<p>{{ blog_post.content|linebreaks }}</p>
<hr>
<p>Published: {{ blog_post.published_date }}</p>
{% if blog_post.edited_date %}
<p>Last edited: {{ blog_post.edited_date }}</p>
{% endif %}
<p>Author: {{ blog_post.author }}</p>
{% if perms.home %}
<div class="top-right-container">
    {% if perms.home.can_edit %}
    <a href="{% url 'blog_post_edit' blog_post.id %}">
        <button class="icon-button" name="edit" type="button">
            <img src="{% static 'img/edit.svg' %}"/>
        </button>
    </a>
    {% endif %}
    {% if perms.home.can_delete %}
    <a href="{% url 'blog_post_delete' blog_post.id %}">
        <button class="icon-button" name="delete" type="button">
            <img src="{% static 'img/delete.svg' %}"/>
        </button>
    </a>
    {% endif %}
</div>
{% endif %}
{% endblock%}