{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ blog_post.title }}</h1>
<hr>
<p>{{ blog_post.content }}</p>
<h5>{{ blog_post.published_date }}</h5>
<h5>{{ blog_post.author }}</h5>
{% if perms.home %}
<div class="top-right-container">
    {% if perms.home.can_edit %}
    <button class="icon-button" name="edit" type="button">
        <img src="{% static 'img/edit.svg' %}"/>
    </button>
    {% endif %}
    {% if perms.home.can_delete %}
    <button class="icon-button" name="delete" type="button">
        <img src="{% static 'img/delete.svg' %}"/>
    </button>
    {% endif %}
</div>
{% endif %}
{% endblock%}