/* Colors */

:root {
    /* CSS HEX */
    --primary-color:  rgb(9, 46, 32);
    --secondary-color: rgb(17, 86, 60);
    --accent-1: #9ee493ff;
    --accent-2: rgb(166, 208, 169);
}

.primary-color {
    color: var(--primary-color)
}

.secondary-color {
    color: var(--secondary-color)
}

.accent-1 {
    color: var(--accent-1)
}

.accent-2 {
    color: var(--accent-2)
}

/* Elements*/

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


#content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
}

#header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

#header-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navbar {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    padding: 10px;
}

#navbar-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
}

#navbar nav {
    display: inline;
    padding: 8px
}

#navbar a {
    margin: 0 8px;
}

#footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    margin-top: auto;
}

#footer-content {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--accent-1)
}

.tech-icon {
    height: 50px;
    margin: 0 8px;
}

.blog-posts-preview-container {
    position: relative;
    margin: 10px 0px;
}

.blog-post-preview-container {
    position: relative;
    padding: 5px 10px;
    background: var(--secondary-color);
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog-post-preview-container:hover {
    background-color: var(--primary-color);
}

.blog-post-preview-container h2, p {
    margin: 4px
}

.vertical-line {
    border-left: 2px solid var(--primary-color);
    height: 100%;
    display: inline;
    margin: 0 8px;
}

.page-number {
    font-weight: bold;
}

.no-blog-posts {
    margin-bottom: 20px;
}

.log-in-container {
    position: absolute;
    top: 16px;
    right: 16px;
    display: block;
}

.log-in-form {
    margin: 16px;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.top-right-container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.icon-button {
    background-color: var(--secondary-color);
}

.icon-button:hover {
    background-color: var(--primary-color);
}