:root {
    /* CSS HEX */
    --light-black-olive: rgb(79, 90, 58);
    --black-olive: #292e1eff;
    --light-green: #9ee493ff;
    --nyanza: #daf7dcff;
    --ash-gray: #abc8c0ff;
    --chinese-violet: #70566dff;

    /* CSS HSL */
    --black-olive: rgb(29, 32, 21);
    --light-green: hsla(112, 60%, 74%, 1);
    --nyanza: hsla(124, 64%, 91%, 1);
    --ash-gray: hsla(163, 21%, 73%, 1);
    --chinese-violet: hsla(307, 13%, 39%, 1);
}

.light-black-olive {
    color: var(--light-black-olive)
}

.black-olive {
    color: var(--black-olive)
}

.light-green {
    color: var(--light-green)
}

.nyanza {
    color: var(--nyanza)
}

.ash-gray {
    color: var(--ash-gray)
}

.chinese-violet {
    color: var(--chinese-violet)
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#header {
    background-color: var(--black-olive);
    color: white;
    padding: 10px;
}

#header-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navbar {
    background-color: var(--light-black-olive);
    color: white;
    display: flex;
    padding: 10px;
}

#navbar-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
}

#navbar nav {
    display: inline;
    padding: 8px
}

#navbar a {
    margin: 0 8px;
}

#footer {
    background-color: var(--black-olive);
    color: white;
    padding: 10px;
    margin-top: auto;
}

#footer-content {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--nyanza)
}