{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row-container">
    <h1 style="display: inline-block;">Blog posts</h1>
    {% if perms.blog.can_publish %}
    <a href="{% url 'blog_post_publish' %}">
        <button class="icon-button" name="add" type="button">
            <img src="{% static 'img/add.svg' %}"/>
        </button>
    </a>
    {% endif %}
</div>
{% if page_obj %}
<div class="blog-posts-preview-container">
    {% for post in page_obj %}
    <a class="link-class" href="{% url 'blog_post' post.id %}">
        <div class="blog-post-preview-container">
            <h2>{{ post.title }}</h2>
            {% if post.edited_date %}
            <p>Last edited: {{ post.edited_date }}</p>
            {% else %}
            <p>Published: {{ post.published_date }}</p>
            {% endif %}
            <p>Author: <span class="accent-2">{{ post.author }}</span></p>
            {% if perms.blog %}
            <div class="top-right-container">
                {% if perms.blog.can_edit %}
                <a href="{% url 'blog_post_edit' post.id %}">
                    <button class="icon-button" name="edit" type="button">
                        <img src="{% static 'img/edit.svg' %}"/>
                    </button>
                </a>
                {% endif %}
                {% if perms.blog.can_remove %}
                <a href="{% url 'blog_post_delete' post.id %}">
                    <button class="icon-button" name="delete" type="button">
                        <img src="{% static 'img/delete.svg' %}"/>
                    </button>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p class="no-blog-posts">No blog posts available!</p>
{% endif %}
{% if page_obj.has_previous %}
<a href="{% url "blog" %}?page={{ page_obj.previous_page_number }}">Previous page</a>
<div class="vertical-line"></div>
{% endif %}
<span class="page-number">Page {{ page_obj.number }}</span>
{% if page_obj.has_next %}
<div class="vertical-line"></div>
<a href="{% url 'blog' %}?page={{ page_obj.next_page_number }}">Next page</a>
{% endif %}
{% endblock %}